<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

</head>

<body ng-app="app" ng-cloak layout="column">


    <md-toolbar ng-controller="ToolbarController as toolbarCtrl">
        <div class="md-toolbar-tools" >
            <md-button class="md-icon-button" ng-click="toolbarCtrl.toggleMenu()" aria-label="Toggle menu visibility">
                <md-icon md-svg-icon="img/icons/menu.svg" style="color: greenyellow;"></md-icon>
            </md-button>
            <h2>
                <span>Management panel</span>
            </h2>
            <span flex></span>

        </div>
    </md-toolbar>


    <md-content flex >
        <div class="left-side-menu" ng-controller="MenuController as menu">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-disable-backdrop md-component-id="menu">
                <md-content role="navigation">
                    <md-list flex>
                        <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
                        <md-list-item class="md-3-line" ng-click="null">
                            <md-icon md-svg-icon="img/icons/person.svg"></md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>People</h3>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line" ng-click="null">
                            <md-icon md-svg-icon="img/icons/team.svg"></md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>Teams</h3>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line" ng-click="null">
                            <md-icon md-svg-icon="img/icons/work.svg"></md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>Projects</h3>
                            </div>
                        </md-list-item>
    
    
                    </md-list>
    
                </md-content>
            </md-sidenav>
        </div>
        
    </md-content>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- custom js -->
    <script src="app/app.module.js"></script>
    <script src="app/menu/menu.module.js"></script>
    <script src="app/toolbar/toolbar.module.js"></script>
    <script src="app/menu/menu.controller.js"></script>
    <script src="app/toolbar/toolbar.controller.js"></script>
</body>







</html>