<div style="margin : 30px;">
    <section class="md-whiteframe-z1">
        <md-list class="listdemoListControls"></md-listclass>
            <md-subheader class="nosticky">
                <span class="md-title">Employees Overview</span>
            </md-subheader>
            <md-divider></md-divider>
           <span ng-repeat="(role, people) in peopleList.resolvedPeopleList">
                <md-subheader>{{role.roleName}}</md-subheader>
                <md-list-item ng-repeat="person in people" ng-click="peopleList.goToPerson(person)" class="noright">
                    <img alt="Person avatar" ng-src="{{person | imageResolver : 'avatar'}}" class="md-avatar" />
                    <p>{{person.firstname}} {{person.lastname}}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                </md-list-item>    
            </span>
        </md-list>
    </section>
</div>