<section class="md-padding" layout-xs="column" layout="row">
    <div flex layout="row" layout-margin layout-align="space-around" ng-if="!projectsList.list">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex-gt-xs="50" layout="column" ng-if="projectsList.list">
        <div ng-repeat="project in projectsList.list" ng-if="$even">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="{{project | imageResolver: 'icon'}}" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{project.customerDetails.companyName}}</span>
                        <span hide show-gt-md class="md-subhead">{{project.customerDetails.address}}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{project | imageResolver : 'splashScreen'}}" class="md-card-image" alt="{{project.name}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{project.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{project.description |limitTo:150}}
                    </p>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="projectsList.showProjectDetails(project)">Details</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div flex-gt-xs="50" layout="column" ng-if="projectsList.list">
        <div ng-repeat="project in projectsList.list" ng-if="$odd">

            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="{{project | imageResolver: 'icon'}}" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{project.customerDetails.companyName}}</span>
                        <span hide show-gt-md class="md-subhead">{{project.customerDetails.address}}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{project | imageResolver : 'splashScreen'}}" class="md-card-image" alt="{{project.name}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{project.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{project.description |limitTo:150}}
                    </p>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="projectsList.showProjectDetails(project)">Details</md-button>
                </md-card-actions>
            </md-card>
        </div>




    </div>

</section>