<md-listclass="listdemoListControls">
    <md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="Person name" src="../../img/test-avatars/100-2.jpeg" class="md-avatar" />
        <p>Piotr Rotyński</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
    <md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="Person name" src="../../img/test-avatars/100-2.jpeg" class="md-avatar" />
        <p>Piotr Rotyński</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
    <md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="Person name" src="../../img/test-avatars/100-2.jpeg" class="md-avatar" />
        <p>Piotr Rotyński</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
    <md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="Person name" src="../../img/test-avatars/100-2.jpeg" class="md-avatar" />
        <p>Piotr Rotyński</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
    <md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="Person name" src="../../img/test-avatars/100-2.jpeg" class="md-avatar" />
        <p>Piotr Rotyński</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
    <md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="Person name" src="../../img/test-avatars/100-2.jpeg" class="md-avatar" />
        <p>Piotr Rotyński</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
</md-list>